*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: $font-family-1;
    height: 100%;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}