%input-utility {
    border-radius: $small-border-radius;
    padding: $small-padding / 2;
    width: 80%;
    border: none;
    outline: none;
    box-shadow: $box-shadow-2;
    font-size: $base-font-size;
}